* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkgrey;
    text-align: center;
}
div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn1{
    font-size: 38px;
    max-width: 60px;
}

#btn2{
    font-size: 38px;
    max-width: 60px;
}

#button{
    padding: 25px 30px;
    background-color: #513330;
    font-size: 24px;
    border-radius: 12px;
    border: 1px solid black;
    color: antiquewhite;
}

#showResult{
    font-size: 48px;
    font-weight: bold;
}